<div class="flex justify-between gap-12 mx-32">
  <div class="flex flex-col flex-1">
    <mat-form-field appearance="fill">
      <mat-label>Cliente</mat-label>
      <input matInput placeholder="Nome" name="name" required>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Name</mat-label>
      <input matInput placeholder="Name" name="name" required>
    </mat-form-field>
  </div>
  <mat-card class="w-52 h-52" appearance="raised">
    <mat-card-header>
      <mat-card-title>Imagem</mat-card-title>
    </mat-card-header>
    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
    <mat-card-actions>
      <button mat-button>Alterar</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>
</div>