@if (progressBarVisible) {
  <mat-progress-bar mode="indeterminate" color="warn"></mat-progress-bar>
}
<app-auth>
  <h1 class="text-3xl mb-4" i18n>Recuperar Password</h1>
  <div class="w-96">
    <mat-form-field class="w-full">
      <mat-label>Email</mat-label>
      <input matInput
            placeholder="joao@exemplo.com"
            [formControl]="email"
            (blur)="updateEmailErrorMessage()"
            required>
      @if (email.invalid) {
        <mat-error>{{emailErrorMessage}}</mat-error>
      }
    </mat-form-field>

    <!--Actions-->
    <div class="flex justify-end">
      <button
      mat-flat-button
      [disabled]="buttonDisabled"
      (click)="submit()">Recuperar a password</button>
    </div>
  </div>
</app-auth>
