<app-auth>
  <h1 class="text-3xl mb-4" i18n>Login no Hestia ERP</h1>
  <div class="w-96">
    <mat-form-field class="w-full">
      <mat-label>Email</mat-label>
      <input matInput
            placeholder="joao@exemplo.com"
            [formControl]="email"
            (blur)="updateEmailErrorMessage()"
            required>
      @if (email.invalid) {
        <mat-error>{{emailErrorMessage}}</mat-error>
      }
    </mat-form-field>

    <mat-form-field class="w-full mt-2">
      <mat-label>Password</mat-label>
      <input matInput
            [type]="hide ? 'password' : 'text'"
            [formControl]="password"
            (blur)="updatePasswordErrorMessage()"
            required>
      <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
      @if (password.invalid) {
        <mat-error>{{passwordErrorMessage}}</mat-error>
      }
    </mat-form-field>
    <!--Actions-->
    <div class="flex justify-between">
      <!--Forgot password-->
      <a routerLink="/forgotpassword" class="flex items-center text-sm" i18n>Recuperar password</a>
      <button
      mat-flat-button
      [disabled]="buttonDisabled">Login</button>
    </div>
  </div>
</app-auth>
