<div class="flex flex-col absolute inset-0">
  <mat-toolbar color="primary" class="z-[2]">
    <button mat-icon-button (click)="snav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <div>
      <svg class="w-8 h-8 hestia-logo" id="Layer_2" data-name="Layer 2" xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 333.07 417.87">
        <g id="Layer_1-2" data-name="Layer 1">
          <g>
            <path d="M229.5,0v213.95c57.2,0,103.57-46.37,103.57-103.56V0s-103.57,0-103.57,0Z" />
            <path d="M0,0v213.95c57.2,0,103.57-46.37,103.57-103.56V0S0,0,0,0Z" />
            <path d="M333.07,417.87v-213.95c-57.2,0-103.57,46.37-103.57,103.56v110.39s103.57,0,103.57,0Z" />
            <path d="M0,255.7v-103.57h125.94c57.2,0,103.56,46.37,103.56,103.57H0Z" />
            <path d="M103.57,417.87H0v-76.87c0-57.2,46.37-103.56,103.57-103.56v180.44Z" />
          </g>
        </g>
      </svg>
    </div>
    <a routerLink="/">
      <h1 class="ml-6">{{title}}</h1>
    </a>
  </mat-toolbar>

  <mat-sidenav-container class="flex-1">
    <mat-sidenav #snav fixedTopGap="56" [mode]="'over'">



      <mat-nav-list>
        <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
          <!-- This is the tree node template for leaf nodes -->
          <!-- There is inline padding applied to this node using styles.
            This padding value depends on the mat-icon-button width. -->
          <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle>
            <a mat-list-item [routerLink]="node.path">
              @if (node.icon) {
              <mat-icon matListItemIcon>{{node.icon}}</mat-icon>
              }
              {{node.name}}
            </a>
          </mat-tree-node>
          <!-- This is the tree node template for expandable nodes -->
          <mat-nested-tree-node *matTreeNodeDef="let node; when: hasChild">
            <div class="mat-tree-node">
              <button mat-icon-button matTreeNodeToggle [attr.aria-label]="'Toggle ' + node.name">
                <mat-icon class="mat-icon-rtl-mirror">
                  {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
                </mat-icon>
              </button>
              {{node.name}}
            </div>
            <!-- There is inline padding applied to this div using styles.
                  This padding value depends on the mat-icon-button width.  -->
            <div [class.example-tree-invisible]="!treeControl.isExpanded(node)" role="group" class="pl-6">
              <ng-container matTreeNodeOutlet></ng-container>
            </div>
          </mat-nested-tree-node>
        </mat-tree>
        <!-- @for (link of links; track link.name) {

        <a mat-list-item [routerLink]="link.path">
          @if (link.icon) {
          <mat-icon matListItemIcon>{{link.icon}}</mat-icon>
          }
          {{link.name}}
        </a>
        } -->
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <router-outlet />
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>